* {
    font-family: 'Prompt', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, white 30%, skyblue);
}

.logo {
    margin-left: 5%;
}
 .small-logo {
     display: none;
 }
li {
    display: inline-block; 
    padding-inline-end: 50px;
}

li a {
    color: white;
    margin: 5px;
}

li a:hover {
    color: gold;
    letter-spacing: 3px;
}

body {
    background: lightcyan;   
}



.me h5 {
    margin-top: 10vh;
    margin-left: 15vh;
    font-size: 40px;
    text-transform: initial;
}

.me .blocks {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   margin: 0 15vh;
}

.me .net {
    flex: 1 1 500px;
    padding:20px;
    background: transparent;
    box-shadow: 4px 13px 30px 1px rgba(11, 39, 100, 0.2);
    border-radius: 10px;
}  

.me .art1 {
    line-height: 70px;
    height: 450px;
}

.me .net:hover {
    background: white;
    transition: 1s ease-in-out;
    /* box-shadow: 0px 14px 80px rgb(255, 187, 0); */
}

.me .art1 p {
    padding-top: 20px;
}


.net .btm  {
    border-radius: 5%;
    background-color: orange;
    text-align: center;
    text-transform: initial;
    padding: 8px 15px;
    font-size: 15px;
    color: white;      
}

.net .btm:hover {
    background-color: transparent;
    letter-spacing: 5px;
    color: orange;
}

.me .skills {
   display: flex;
   flex-direction: column;
   padding: 60px 20px;
   border-radius: 10px;
   height: 450px;
}

.me .skills .percentage h3{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.me .skills .percentage .line {
    width: 100%;
    background: lightgray;
    overflow: hidden;
    height: 15px;
    border-radius: 100px;
}

.me .skills .percentage .line span {
    display:block;
    height:100%;
    background:orange;
    border-radius: 100px;
}

.me .skills .percentage:nth-child(1) .line span{
    width: 90%;
}
.me .skills .percentage:nth-child(2) .line span{
    width: 70%;
}
.me .skills .percentage:nth-child(3) .line span{
    width: 30%;
}
.me .skills .percentage:nth-child(4) .line span{
    width: 60%;
}


h4 {
    margin-left: 15vh;
    font-size: 40px;
    padding-top: 50px;
}

.me .person {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 3vh 15vh;
    align-items: center;
    justify-content: space-between;
}


.me .person img {
    height: 250px;
    box-shadow: 4px 13px 30px 1px rgba(11, 39, 100, 0.2);
}

.me .person img:hover {
    box-shadow: 0px 14px 80px rgb(255, 187, 0);
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    padding-top: 10px;
    background:white;
}

.social-media a {
    padding: 0 20px;
    transform: scale(1.2);
    color: skyblue;
}

.social-media a:hover {
    transform: scale(2);
    color:orange;
}

span {
    color:orange;
}

@media only screen and (max-width: 850px) {
 li {
     display: flex;
 }
 
 li a {
     margin: 1px;
 }

 .logo {
     display: none;
 }

 .small-logo {
     display: flex;
     font-size: 40px;
     height: auto;
     margin-left: 10%;
 }

 header {
     height: auto;
 }

 .me .net {
     min-width: 450px;
 }

 .me h5,
 .me h4 {
     margin-left: 8vh;
     margin-top:3vh;
 }

}