* {
    font-family: 'Prompt', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, white 30%, skyblue);
}

.logo {
    margin-left: 5%;
}
 .small-logo {
     display: none;
 }
li {
    display: inline-block; 
    padding-inline-end: 50px;
}

li a {
    color: white;
    margin: 5px;
}

li a:hover {
    color: gold;
    letter-spacing: 3px;
}

body {
    background-color: lightcyan;
}

.contact {
    padding: 15vh;
}

.contact h1 {
    font-size: 40px;
    margin-bottom: 35px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.contact .icon  {
    flex: 1 1 400px;
    text-align: center;
    padding:10px;
    background: transparent;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 10px;
}  

.contact .icon:hover {
    background: white;
    flex: 1 1 450px;
    letter-spacing: 2px;
    color: orange;
    box-shadow: 0px 14px 80px rgba(255, 187, 0, 0.1);
}
.icon i {
    height:80px;
    width:80px;
    line-height: 70px;
    font-size: 30px;
    color: orange;
}

.icon h4 {
    text-transform: uppercase;
}

.icon p {
    line-height: 40px;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.contact .row form{
    flex:1 1 850px;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    
}

.contact .row form .single-form,
.contact .row form textarea{
    width: 100%;
    border-bottom: 2px solid orange;
    color:black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 0;
    margin: 15px 0;
    background-color: transparent;
}



.contact .row form textarea{
    height: 200px;
}

.btm {
    border-radius: 5%;
    background-color: orange;
    text-align: center;
    text-transform: initial;
    padding: 8px 10px;
    margin-bottom: 15px;
    font-size: 15px;
    color: white;   
}

.btm:hover {
    background-color: transparent;
    letter-spacing: 5px;
    color: orange;
    width: auto;
}


footer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    padding-top: 1vh;
    background:white;
}

.social-media a {
    padding: 0 20px;
    transform: scale(1.2);
    color: skyblue;
}

.social-media a:hover {
    transform: scale(2);
    color:orange;
}

span {
    color:orange;
}

@media only screen and (max-width: 850px) {
 li {
     display: flex;
 }
 
 li a {
     margin: 1px;
 }

 .logo {
     display: none;
 }

 .small-logo {
     display: flex;
     font-size: 40px;
     height: auto;
     margin-left: 10%;
 }

 header {
     height: auto;
 }

 .contact .icon {
     min-width: 300px; 
 }
   
.row form {
    min-width: 300px;
}
 
 .contact {
     padding-left: 7vh;
     transition: 0.5s ease-in-out;
 }
}