* {
    font-family: 'Prompt', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, white 30%, skyblue);
    z-index: 100;
    top:0;
}

.logo {
    margin-left: 5%;
}
 .small-logo {
     display: none;
 }
li {
    display: inline-block; 
    padding-inline-end: 50px;
}

li a {
    color: white;
    margin: 5px;
}

li a:hover {
    color: gold;
    letter-spacing: 3px;
}

body {
    display: flex;
    background-color: lightcyan;
}
    

h3 {
    padding-top: 15vh;
    padding-left: 15vh;
    font-size: 40px;
    text-transform: initial;
    display: block;
    position: absolute;
}

figcaption {
    margin-top: 30vh;
    position: relative;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

figcaption .project {
    flex:0 1 400px;
    height: 250px;
    position: relative;
    background: #fff;
    margin: 40px 20px;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

figcaption .project:hover {
    height: 420px;
}

@media only screen and (max-width: 850px) {
    figcaption .project{
        min-width: 400px;
    }
    
    h3 {
        padding-left: 5vh;
        transition: 0.5s ease-in-out;
    }

    figcaption .btm {
      margin-top: 100px;
      padding: 10px 10px;
    }
}
    


figcaption .project .image {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 70px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

figcaption .project .image img {
    max-width: 100%;
    height: 260px;
    border-radius: 5px;
}

figcaption .project article {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: orange;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

figcaption .project:hover article {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.btm {
    border-radius: 5px;
    background-color: orange;
    text-align: center;
    text-transform: initial;
    padding: 8px 10px;
    margin: 170px;
    font-size: 15px;
    color: white;   
}

.btm:hover {
    background-color: transparent;
    letter-spacing: 5px;
    color: orange;
    width: auto;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    padding-top: 10px;
    background:white;
}

.social-media a {
    padding: 0 20px;
    transform: scale(1.2);
    color: skyblue;
}

.social-media a:hover {
    transform: scale(2);
    color:orange;
}

span {
    color:orange;
}

@media only screen and (max-width: 850px) {
 li {
     display: flex;
 }
 
 li a {
     margin: 1px;
 }

 .logo {
     display: none;
 }

 .small-logo {
     display: flex;
     font-size: 40px;
     height: auto;
     margin-left: 10%;
 }

 header {
     height: auto;
 }

 


}